/* Reset */
html, body {
    height: 100%;
    width: 100%;
}

/*Padding and margin gives text and objects room to breathe*/
body {
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
    margin: 5% auto;
    padding: 5%;
    box-sizing: border-box;
}

main{
    max-width: 80%;
    float: left;
}

aside{
    max-width: 20%;
    clear: left;
    float: right;
}

/*Removes bullets from the list*/
nav > ul {
    list-style-type: none;
    float: right;
}

/* Layout */

header > h1 {
    float: left;
}

header > nav {
    float: left;
}

.nav-item {
    display: inline-block;
}

/*Clears hero content on either side*/
.hero {
    clear: both;
}

/*Allows image to resize along with viewport*/
.hero>img{
    max-width: 100%;
    max-height: 100%;
}

/*Allows align with social icons*/
#copy{
    clear: left;
    float: left;
}



/*Places footer items in a single row*/
.footer-item{
    float: right;
    display: inline-block;
}

/*What will display on a desktop site*/
@media screen  and (min-width: 480px) {
    #top_msg{
        visibility: hidden;
    }
}

/*What to display on a mobile screen*/
@media screen  and (max-width: 480px){
    /*Make message visible and eye catching*/
    #top_msg{
    visibility: visible;
    background-color: skyblue;
}
    /*Makes nav-items mobile friendly, i.g. colored, one after another*/
    .nav-item{
        background-color: #e1e4e8;
        display: block;
        padding-left: 40%;
        padding-right: 40%;
        float: left;
        clear: both;
    }

    h1{
        clear: both;
    }
}